html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.logo{
   width:140px;
}

.nav-container{
	background:#fff;
}

.navbar-nav >li > a:focus{
outline:none;
}

.navbar-nav a{
	color:#333;
}

input[type=text]:focus{
	box-shadow:none;
	border-color:#e3e3e3;
}

#basic-addon1{
	top:0;
}

.navbar-form{
	width:95%;
	margin-left:1px;
}

.track-form{
	padding:30px;
}

.circle{
	width:200px;
	height:200px;
	border-radius:50%;
	background-color:#e3e3e3;
	margin:50px;
}

.caption{
	text-align:center;
}
