html,body {
  height: 100%;
}

.page-wrap{
	min-height:100%;
	margin-bottom:-150px;
}

.page-wrap:after{
	content:"";
	display:block;
}

.footer, .page-wrap:after{
	min-height:150px;
}

.footer{
	background-color:#e3e3e3;
}

a:focus{
	background-color:#a52016 !IMPORTANT;
}

.bc1{
	background:url('../images/ad.gif') no-repeat;
	background-size:contain;
}

.bc2{
	background:url('../images/cat.gif') no-repeat;
	background-size:contain;
}

.bc3{
	background:url('../images/members.gif') no-repeat;
	background-size:contain;
}

#wrapper{
	width:300%;
	position:relative;
	left:0px;
	-moz-transition:left .5s ease-in-out;
}

.content{
	float:left;
	width:33%;
	height:400px;
	white-space:normal;
}

.contentContainer{
	width: 100%;
	height: 350px;
	border: 1px black solid;
	overflow: hidden;
}

#item1{
	background:url('../images/tech1.jpg') no-repeat;
	background-size:cover;
	background-position:center center;
}

#item2{
	background:url('../images/tech1.jpg') no-repeat;
	background-size:cover;
	background-position:center center;
}

#item3{
	background:url('../images/tech1.jpg') no-repeat;
	background-size:cover;
	background-position:center center;
}
.navbar-nav a{
	font-size:18px;
}

.welcome-message{
	margin-top:20px;
}

.welcome-image{
	height:250px;
	background:url('../images/members.jpg') no-repeat;
	background-size:cover;
}
	
.search-box{
	border:none;
	border-radius:0%;
	border-bottom:1px solid #acacac;
	width:50%;
}

.input-group-addon{
	color:#fff;
	background-color:#da291c;
	border:none;
	border-radius:0;
}

.input-group-addon:hover{
	color:#fafafa;
	background-color:#333;
}

.input-group{
	margin-top:8px;
	max-width:250px;
	margin-left:220px;
}

.dropdown-menu{
	background-color:#d4291c;
}

.social-icons{
	margin-left:30%;
	margin-top:40px;
}

.social-icons > a > img{
	padding-left:10px;
}

.copyright{
	width:100%;
	font-size:12px;
	margin-left:-80px;
}

.logo{
   width:180px;
}

.navbar-nav >li > a:focus{
outline:none;
}

.nav > li > a:hover, .nav > li > a:focus{
background-color:#fff !IMPORTANT;
color:#da291c;
}

.navbar-nav a{
	color:#333;
}

input[type=text]:focus{
	box-shadow:none;
	border-color:#e3e3e3;
}

#basic-addon1{
	top:0;
}

.navbar-form{
	width:95%;
	margin-left:1px;
}

.track-form{
	padding:30px;
	max-width:300px;
	width:100%;
}

.form-control{
	box-shadow:none;
	font-size:16px;
}


.bc_{
	width:200px;
	height:200px;
	background-color:#e3e3e3;
	margin:5%;
	display:inline-block;
}


.breadcrumbs{
	max-width:900px;
	margin:auto;
}

.breadcrumbs:after{
	display:block;
	content: "";
	clear:both;
}

.caption{
	text-align:center;
}



@media (min-width: 900px) {
	.dropdown:hover .dropdown-menu {
		display: block;
		margin-top: 0; 
	}
.dropdown-menu > li > a, .dropdown-menu > li > a:hover{
	color:#fff;
}


a:hover{
	background-color:#a52016 !IMPORTANT;
	color:#fff;
}
}

@media (max-width: 500px){
	.input-group{
		margin-left:0px;
	}
	.bc_{
		margin:auto;
		display:block;
		margin-top:3%;
		margin-bottom:2%;
	}
}


/* slider links */
#navLinks {
    text-align: center;
    width: 100%;
}
    #navLinks ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        margin-top: 6px;
    }
        #navLinks ul li {
            float: left;
            text-align: center;
            margin: 10px;
            list-style: none;
            cursor: pointer;
            background-color: #CCCCCC;
            padding: 5px;
            border-radius: 50%;
            border: black 5px solid;
        }
            #navLinks ul li:hover {
                background-color: #FFFF00;
            }
            #navLinks ul li.active {
                background-color: #333333;
                color: #FFFFFF;
                outline-width: 7px;
            }
                #navLinks ul li.active:hover {
                    background-color: #484848;
                    color: #FFFFFF;
                }
